<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="navbar">
    <a href="/home">Главная</a>
    <a href="/library/freeCopies">Свободные экземпляры</a>
    <a href="/library/booksByAuthor">Книги автора</a>
    <a href="/library/readersWithDebt">Должники</a>
    <a href="/library/giveBook">Выдать книгу</a>
    <a href="/library/removeBook">Списать книгу</a>
</div>


<h1>Произошла ошибка</h1>

<div class="error" th:if="${message}" th:text="${message}"></div>


<a href="/home">Вернуться на главную</a>

</body>
</html>
