<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Свободные экземпляры</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="navbar">
    <a href="/home">Главная</a>
    <a href="/library/freeCopies">Свободные экземпляры</a>
    <a href="/library/booksByAuthor">Книги автора</a>
    <a href="/library/readersWithDebt">Должники</a>
    <a href="/library/giveBook">Выдать книгу</a>
    <a href="/library/removeBook">Списать книгу</a>
</div>


<h1>Проверить свободные экземпляры книги</h1>

<form method="get" action="/library/freeCopies">
    <label>Название книги:</label>
    <input type="text" name="book" required><br><br>

    <label>Автор:</label>
    <input type="text" name="author" required><br><br>

    <button type="submit">Проверить</button>
</form>

<hr>
<div class="result-box" th:if="${data}">
    <div class="message" th:text="${data}"></div>
</div>

<div class="error" th:if="${error}" th:text="${error}"></div>

</body>
</html>
