<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Читатели с долгами</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="navbar">
    <a href="/home">Главная</a>
    <a href="/library/freeCopies">Свободные экземпляры</a>
    <a href="/library/booksByAuthor">Книги автора</a>
    <a href="/library/readersWithDebt">Должники</a>
    <a href="/library/giveBook">Выдать книгу</a>
    <a href="/library/removeBook">Списать книгу</a>
</div>


<h1>Читатели с просроченными книгами</h1>

<div class="container">

    <h1>Список должников</h1>

    <div class="result-box" th:if="${data}">
        <ul class="result-list">
            <li th:each="item : ${data}" th:text="${item}"></li>
        </ul>
    </div>

</div>

<div class="error" th:if="${error}" th:text="${error}"></div>

</body>
</html>
